body {background-color:#DDEEFF}

#recipebox{
float:left;
border:2px solid;
background-color:white;
margin:5px;
width:60%;
height:80%;
}

#controlsbox{
float:left;
border:2px solid;
background-color:white;
margin:5px;
width:30%;
height:80%;
}

#recipecontent{
width:100%;
height:100%;
}

#recipetextinput{
width:96%;
height:15em;
margin:2%;
}

.container{
border: 1px solid #AAA;
margin: 10px;
}
