body {background-color:#DDEEFF}

#maincontent{
border:none;
margin: 0 auto;
width: 80em;

}

#recipebox{
float:left;
margin:10px;
border:2px solid;
background-color:white;
width:50em;
height:80%;
}

#controlsbox{
float:left;
margin:10px;
border:2px solid;
background-color:white;
width:20em;
height:80%;
}

#recipecontent{
width:100%;
height:100%;
}

#recipetextinput{
width:96%;
height:15em;
margin:2%;
}

.container{
border: 1px solid #AAA;
margin: 10px;
}
